/*
 * Copyright (c) 2025 ZitaoTech
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define LOWER 1
#define RAISE 2
#define MOUSE 3
#define BOT bootloader

/ {
    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mkp LCLK>, <&bt BT_CLR>;
        };
    };

    behaviors {
        tdRMCLK: tap_dance_R_LMouse {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mkp RCLK>, <&mkp MCLK>;
        };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <500>;
            bindings = <&kp &kp>;
        };
    };

    behaviors {
        LMouse_sc: behavior_LMouse_Scroll {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";     /* 单击优先 */
            tapping-term-ms = <200>;       /* 长按阈值 */
            bindings = <&none &mkp>;        /* hold=none, tap=Lmouse */
        };
    };

    behaviors {
        M_kp: behavior_mouse_keypress {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";     /* 单击优先 */
            tapping-term-ms = <200>;       /* 长按阈值 */
            bindings = <&mkp &kp>;        /* hold=mou key press, tap=key*/
        };
    };

    behaviors {
        BLE_encoder: BLE_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&bt BT_NXT>, <&bt BT_PRV>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp ESC          &kp Q         &kp W  &kp E       &kp R         &kp T      &kp Y      &kp U      &kp I               &kp O                &kp P       &kp BSPC
&kp TAB          &kp A         &kp S  &kp D       &kp F         &kp G      &mkp LCLK  &mkp LCLK  &kp H               &kp J                &kp K       &kp L      &lt 2 SEMI  &kp ENTER
&kp LSHFT        &kp Z         &kp X  &kp C       &kp V         &kp B      &kp PG_DN  &kp PG_UP  &kp LA(LEFT_ARROW)  &kp LA(RIGHT_ARROW)  &kp N       &kp M      &kp COMMA   &kp DOT             &kp FSLH  &kp RSHFT
&mt LCTRL ENTER  &kp LEFT_GUI  &mo 2  &kp C_MUTE  &kp LEFT_ALT  &kp SPACE  &mo 1      &mkp MB1   &mkp MB2            &mo 1                &kp C_MUTE  &kp MINUS  &kp EQUAL   &mt RCTRL LEFT_GUI
            >;

            sensor-bindings =
                <&inc_dec_kp LEFT RIGHT>,
                <&inc_dec_kp LEFT RIGHT>;
        };

        lower_layer {
            display-name = "LOWER";
            bindings = <
&kp GRAVE       &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp MINUS      &kp EQUAL   &none      &none      &kp UP_ARROW  &none       &kp LA(F4)      &kp DEL
&kp CAPS        &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp BACKSPACE  &kp COMMA   &mkp RCLK  &mkp RCLK  &mkp MB3      &kp LEFT    &kp DOWN_ARROW  &kp RIGHT  &kp SQT   &kp ENTER
&kp LEFT_SHIFT  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0   &kp PERIOD  &kp HOME   &kp END    &bl BL_DEC    &bl BL_INC  &kp LC(LS(N))   &none      &kp LBKT  &kp RBKT   &kp BACKSLASH  &kp RIGHT_SHIFT
&lt 2 ENTER     &kp LEFT_GUI  &mo 2         &bt BT_CLR    &none          &none       &none      &none      &none         &none       &out OUT_TOG    &none      &none     &kp RCTRL
            >;

            sensor-bindings = <&BLE_encoder &inc_dec_kp UP DOWN>;
        };

        MOUSE_layer {
            display-name = "MOUSE";
            bindings = <
&kp LA(F4)  &none         &kp F2  &none             &none              &none    &mkp MB2        &none         &kp PAGE_UP  &none     &none          &kp BSPC
&kp TAB     &none         &kp F5  &none             &none              &kp F11  &mkp LCLK       &mkp LCLK     &mkp MB1     &kp HOME  &kp PAGE_DOWN  &kp END   &none  &kp ENTER
&kp LSHFT   &none         &none   &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &none    &msc SCRL_DOWN  &msc SCRL_UP  &none        &none     &mkp MB3       &none     &none  &none      &none  &kp RSHFT
&kp LCTRL   &kp LEFT_GUI  &none   &none             &none              &none    &none           &none         &none        &none     &none          &none     &none  &kp RCTRL
            >;
        };

        raise_layer {
            display-name = "RAISE";
            bindings = <
&kp ESC    &none  &none         &none  &none         &none  &none  &none  &none  &none         &none  &kp BACKSPACE
&kp TAB    &none  &none         &none  &none         &none  &none  &none  &none  &none         &none  &none          &none  &kp ENTER
&kp LSHFT  &none  &none         &none  &none         &none  &none  &none  &none  &none         &none  &none          &none  &none      &none  &kp RIGHT_SHIFT
&kp LCTRL  &none  &kp LEFT_GUI  &none  &kp LEFT_ALT  &none  &none  &none  &none  &kp LEFT_GUI  &none  &none          &none  &kp RCTRL
            >;
        };

        RES_layer {
            display-name = "RESERVE";
            bindings = <
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
            >;
        };
    };
};
